AWSTemplateFormatVersion: '2010-09-09'
Description: "Dynamo db table for the python eval project"

Resources:
  DocumentApproval:
    Type: AWS::DynamoDB::Table
    Properties:
      TableName: DocumentApproval
      BillingMode: PAY_PER_REQUEST

      AttributeDefinitions:
        - AttributeName: pk
          AttributeType: S
        - AttributeName: sk
          AttributeType: S

      KeySchema:
        - AttributeName: pk
          KeyType: HASH
        - AttributeName: sk
          KeyType: RANGE

      Tags:
        - Key: Service
          Value: document-approval    
